
@{
    ViewBag.Title = "Index";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline-info">
                    @*<div class="card-header">
                            <h4 class="m-b-0 text-white">Company</h4>
                        </div>*@

                    <div class="card-body">

                        <form role="form" method="post" action="">

                            <div class="dash-wrapper">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="/Product/ProductDetailsView">
                                            <div class="dash-box text-center">
                                                <h4>
                                                    <i class="fas fa-th-large"></i>
                                                </h4>
                                                    <h4>PRODUCTS</h4>
</div>
                                            </a>
</div>
                                    <div class="col-4 align-content-center">
                                        <a href="/Inventory/index">
                                            <div class="dash-box  text-center">
                                                <h4>
                                                    <i class="fas fa-truck-moving"></i>
                                                </h4>
                                                    <h4>INVENTORY</h4>
</div>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/Invoice/SalesInvoiceView">
                                            <div class="dash-box  text-center">
                                                <h4>
                                                    <i class="fas fa-file-alt"></i>
                                                </h4>
                                                    <h4>INVOICE</h4>
</div>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/Employee/viewemployee">
                                            <div class="dash-box text-center">
                                                <h4>
                                                    <i class="fas fa-user-alt"></i>
                                                </h4>
                                                    <h4>EMPLOYEE</h4>
</div>
                                        </a>
                                    </div>
                                    <div class="col-4 align-content-center">
                                        <a href="/Accounts/AccountView">
                                            <div class="dash-box  text-center">
                                                <h4>
                                                    <i class="fas fa-calculator"></i></i>
                                                </h4>
                                                    <h4>ACCOUNTS</h4>
</div>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="/Company/CompanyDetailView">
                                            <div class="dash-box  text-center">
                                                <h4>
                                                    <i class="fas fa-mail-bulk"></i>
                                                </h4>
                                                    <h4>COMPANY</h4>
</div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
