
@{
    ViewBag.Title = "ViewCompany";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Company</h4>
                    </div>

                    <div class="card-body">

                        <form role="form" method="post" action="">
                            <div class="row">
                                <div class="col-4 pl-5">
                                    <div class="comp-head">
                                        <h5>Company Details</h4>
                                    </div>
                                    <div class="form-group pt-3">
                                        <label for="firstName1">Comapny Name :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Website : &nbsp;&nbsp;</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Address :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">City :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" drequired>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">State :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Postal Code :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="comp-head">
                                        <h5>Contact Informations</h4>
                                    </div>
                                    <div class="form-group pt-3">
                                        <label for="firstName1">Telephone :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstName1">Mobile  : &nbsp;&nbsp;</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Fax:</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Email :</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Change Logo</label>
                                        <div class="row pl-3">
                                            <div><input type="file" name="compname" class="form-control" id="firstName1" required></div>
                                            <div><input type="submit" name="compname" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4 pr-5">
                                    <div class="comp-head">
                                        <h5>Account/ Tax Informations</h4>
                                    </div>
                                    <div class="form-group pt-3">
                                        <div><label for="firstName1">Account Number </label></div>
                                        <div><input type="text" name="compname" class="form-control" id="firstName1" required></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstName1">Tax Number </label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">VAT Number</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">VAT Password</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName1">Currency</label>
                                        <input type="text" name="compname" class="form-control" id="firstName1" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">

                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
